@page "/"
@namespace TemplateImplementation.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TemplateImplementation</title>
    <base href="~/" />
    <link rel="stylesheet" href="pomato/css/bootstrap.min.css">
    <link rel="stylesheet" href="pomato/css/style.css">
    <link rel="stylesheet" href="pomato/css/responsive.css">
    <link rel="icon" href="pomato/images/fevicon.png" type="image/gif" />
    <link rel="stylesheet" href="pomato/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="pomato/css/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="TemplateImplementation.styles.css" rel="stylesheet" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="pomato/js/jquery.min.js"></script>
    <script src="pomato/js/popper.min.js"></script>
    <script src="pomato/js/bootstrap.bundle.min.js"></script>
    <script src="pomato/js/jquery-3.0.0.min.js"></script>
    <script src="pomato/js/plugin.js"></script>
    <script src="pomato/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="pomato/js/custom.js"></script>
    <script src="pomato/js/owl.carousel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });

            $(".zoom").hover(function () {

                $(this).addClass('transition');
            }, function () {

                $(this).removeClass('transition');
            });
        });
    </script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
